* {
   padding: 0;
   margin: 0;
   box-sizing: border-box
}

body{
   height: 100vh;
   background: #060AB2;
   display: flex;
}


.memory-game{
   border: 2px solid lime;
   height: 640px;
   width: 640px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   perspective: 1000px;
}

.memory-card{
   border: 2px solid aqua;
   width: calc(25% - 10px);
   height: calc(33.333% - 10px);
   position: relative;
   margin: 5px;
   transform: scale(1);
   transform-style: preserve-3d;
   transition: transform .5s;
}

.memory-card:active{
   transform: scale(.97);
   transition: transform .2s;
}

.memory-card.flip{
   transform: rotateY(180deg)
}

.front-face, .back-face{
   border: 2px solid deeppink;
   width: 100px;
   height: 100px;
   border-radius: 5px;
   position: absolute;
   padding: 20px;
   background: #1c7ccc;
   backface-visibility: hidden;
}

.front-face{
   transform: rotateY(180deg)
}

img{
   width: 100px;
}